body {
    background: linear-gradient(140deg, #807282 3%, #767c8d 100%);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.glass-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    z-index: 10;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}


#h2-text {
    color: white;
    text-align: center;
    margin-bottom: 25px;
}


.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: white;
    box-sizing: border-box;
}


.btn-send {
    width: 100%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-send:hover {
    background: rgba(255, 255, 255, 0.2);
}